APP_PORT=3000
NODE_ENV=production

DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

OTP_EXPIRES_IN_SECONDS=300
OTP_LENGTH=6

PAYMENT_PROVIDER_NAME=mock
SAMIRPAY_API_KEY=
SAMIRPAY_SECRET_KEY=
SAMIRPAY_WEBHOOK_SECRET=

SMS_PROVIDER_NAME=mock
MTARGET_USERNAME=
MTARGET_PASSWORD=
MTARGET_SERVICE_ID=
MTARGET_SENDER=XEWEUL

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET_NAME=
